@model IEnumerable<EComm.Data.Product>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table-striped">
            @Html.Partial("_ProductList", Model)
        </table>
    </div>
</div>
